body {
background-color: white;
}

#header {
width:27%;
right: 0;
left: 0;
margin-top:2%;
margin-right: auto;
margin-left: auto;
margin-bottom: 1%;
}

#nav {
text-align:center;
width:100%
right: 0;
left: 0;
margin-right: auto;
margin-left: auto;

}

div.content {
position:fixed;
right: 0;
left: 0;
bottom:0;
top:27%;
margin-right: auto;
margin-left: auto;
width:100%;
overflow-y:scroll;

}

p {
font-family:ProximaNova;
font-size:12px;
font-style:normal;
}

a.nav:link, a.nav:visited, a.nav:active {
margin: 0px 5px;
padding: 8px 15px;
text-align: center;
text-decoration: none;
display: inline-block;

font-size:12px;
font-family:ProximaNova;

background-color: #ff99cc;
color: white;
}

a.nav:hover {
color: white;
background-color: #dddddd;
text-decoration: none;
}


a.navcurrent:link, a.navcurreninst:visited, a.navcurrent:active, a.navcurrent:hover {
margin: 0px 5px;
padding: 10px 15px;
text-align: center;
text-decoration: none;
display: inline-block;

font-size:11px;
font-family:ProximaNova;

background-color: #dddddd;
color: white;
}

a.current:link, a.current:visited, a.current:active {
font-weight:bold;
text-decoration:none;
color:#ff99cc;
padding:2px;

}


a.current:hover {
color:white;
background-color:black;

}

img.art {
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom:50px;
width:60%;
}

/* font stuff */

@font-face {
font-family: ProximaNova;
src: url(fonts/pn_thin.otf);
font-style:normal;
}

@font-face {
font-family: ProximaNova;
src: url(fonts/pn_thin_italic.otf);
font-style:italic;
}

@font-face {
font-family: ProximaNova;
src: url(fonts/pn_bold.otf);
font-weight:bold;
}
