body {

background-color: #d0e4fe;


}


@font-face {

font-family: Futura;
src: url(   );
font-style:normal;

}


@font-face {

font-family: Futura;
src: url(   );
font-style:italic;

}


@font-face {

font-family: Futura;
src: url(   );
font-weight:bold;

}


#header {

position: fixed;
top:60px;
left:70px;
width:200px;

}


#nav {
position:fixed;
top: 200px;
left:70px;
width:100px;
line-height:50%;

}

p.nav {
font-family:Verdana;
font-variant:small-caps;

}

div.content {

top:60px;
margin-top:60px; margin-right:auto; margin-bottom:0; margin-left:auto;
overflow:scroll;
width:600px;
background-color:white;


}

#section {

font-family: Helvetica;
font-size: 10px;

}



a.nav:link, a.nav:visited, a.nav:active {
    background-color: #ff99cc;
    color: white;
    padding: 6px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size:10px;
font-family:Helvetica;

}


a.nav:hover {
    color: white;
background-color: #dddddd;
text-decoration: none;
letter-spacing:2px;
}

a.section:link, a.section:visited, a.section:active {
font-weight:bold;
text-decoration:none;

}

a.section:hover {
color:#ff99cc;
text-decoration:line-through;
letter-spacing:1px;

}

